

<header class="masthead">
  <div class="wrap">
    
    <!-- Alter so that collections don't have the icon at the top of the page-->
    <!-- TODO: Try get it so that the logo shows if there is a page.image.path as it looks a lot nicer than having a white bar at the top-->
    {% unless page.collection %}
        {% if site.logo %}
          <a href="{{ '/' | relative_url }}" class="site-logo" rel="home" title="{{ site.title }}">
            <img src="{{ site.logo | relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
          </a>
        {% endif %}
    {% endunless %}
    
    <!-- Alter so that collections don't have the title and description at the top of the page-->
    {% unless page.collection %}

      {% assign page_image = page.image.path | default: page.image %}
      {% unless page_image %}
        {% if page.url == '/' %}
          <h1 class="site-title animated fadeIn"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        {% else %}
          <div class="site-title animated fadeIn"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
        {% endif %}
        <p class="site-description animated fadeIn" itemprop="description">{{ site.description }}</p>
      {% endunless %}

    {% endunless %}
    <!-- The rest of the include is not altered-->

  </div>
</header><!-- /.masthead -->

